name: sfp
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  - python=3.8
  - snakemake=5.32.2
  - pandas=1.3.5
  - numpy=1.21.5
  - matplotlib=3.5.3
  - scipy=1.7.3
  - seaborn=0.12.0
  - pyyaml=6.0
  - h5py=2.10.0
  - tqdm=4.62.3
  - pip
  - pip:
      - torch==1.13.1
      - torchvision==0.14.1
      - neuropythy==0.12.6
      - nibabel==3.1.0
      - scikit-learn==0.23.2
      - pillow==9.0.0
      - requests==2.28.2
      - pysurfer==0.11.2
      - git+https://github.com/cvnlab/GSN.git
